@CHARSET "UTF-8";

/* body and header text */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	background-color: #FFFAFA;
}

body a {
	text-decoration: none;
	color: #f26522;
}

#bigtext {
	font-family: 'Bree Serif', serif;
	font-size: 40px;
}

#bigtext .links a {
	text-decoration: none;
}

/* logo */

.logo img {
	width: 40vw;
	height: 14.7vw;
}

#overlay {
	float: right;
	position: absolute;
	top: 5vh;
	right: 10%;
}

/* app images */
.app img {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	width: 8vw;
}

.app img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

/* tipsy */
.tipsy {
	font-size: 25px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	color: #000;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
	font-family: 'Bree Serif', serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* content */
#content {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

#content p {
	line-height: 30px;
}

/* about */
#about {
	position: relative;
	width: 450px;
	float: left;
	top: 0;
	left: 0;
}

#about img {
	width: 450px;
}

.person img {
	width: 370px !important;
	top: 37px;
	left: 37px;
}

@media (max-width: 400px) {
	#about {
		width: 100%;
	}

	#about img {
		width: 100%;
	}

	.person img {
		width: 82% !important;
		top: 20px;
		left: 20px;
	}

}

.ism-slider > ol, .ism-slider > ol > li, .ism-slider > ol > li > img { width: 100%; list-style: none; margin: 0; padding: 0; }
.ism-slider {
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 2;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.ism-slider .ism-slides {
  list-style: none;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.ism-slider li.ism-slide {
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

.ism-slider .ism-img-frame {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ism-slider a.ism-image-link {
  position: absolute;
  text-decoration: none;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ism-slider .ism-img {
  display: block;
  border: none;
  position: absolute;
  pointer-events: none;
}

.ism-button, .ism-pause-button {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  border: none;
  outline: none;
  text-align:center;
  z-index: 6;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.ism-caption {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  padding: 0 1em;
  text-shadow: none;
  line-height: 1.2em;
  padding: 0.25em 0.5em;
  width: auto;
  height: auto;
  text-align: center;
  visibility: hidden;
}

.ism-caption-0 {
  z-index: 3;
}

.ism-radios {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 1px;
}

.ism-slider .ism-radios {
  position: absolute;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  z-index: 6;
  bottom: 5px;
  left: 0;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 0 7px;
  height: 0;
  overflow: visible;
}

.ism-slider .ism-radios.ism-radios-as-thumbnails {
  bottom: 5px;
}

.ism-radios li {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.ism-radios input.ism-radio {
  display: none;
}

.ism-radios label {
  display: block;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes slidein {
  0% { -webkit-transform: translate(-1200px, 0); transform: translate(-1200px, 0); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}
@keyframes slidein {
  0% { -webkit-transform: translate(-1200px, 0); transform: translate(-1200px, 0); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

/* SLIDER */

#my-slider {
    width: 450px;
		height: 420px;
    -webkit-border-radius: 5px; border-radius: 5px;
}

#my-slider:before {
    content: ''; display: block; padding-top: 25%;
}

#my-slider .ism-frame {
    position: absolute; top: 0; bottom: 0; left: 0; width: 100%;
}

#my-slider .ism-button {
    display: block;
    border-radius: 25px;
    width: 30px; height: 30px; background-size: 16px 16px; top: 50%; margin-top: -25px;
    color: #fff; background-color: rgba(0, 0, 0, 0.3);
    display: block; visibility: visible;
}

#my-slider .ism-button-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAIVBMVEX///////////////////////////////////////////9/gMdvAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAAuUAAALlARv+XnsAAABUSURBVEjH7dYxCgAgEAPB8weX/39WFBtBbsFSY2sYyzXicDLq0wQDKQGQAKiJAZTEvC+IRgPBYAEyYOB1AAf4hAkTXxB5nySOGmaRw4pp5rhv34MOQwscJ7/MrxQAAAAASUVORK5CYII=);
    left: 10px;
}

#my-slider .ism-button-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAIVBMVEX///////////////////////////////////////////9/gMdvAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAAuUAAALlARv+XnsAAABYSURBVEjH7dYxDoAwDEPR5Ab1/S8LVEgsyL8SG3XWWK/dnKpnumA0/L4lAOSJE/DEtXfEBBxxBwYFBH8IEWJbggL4RIAAPwFWC+VDqXEtYrFyNWO5v58HB4q9HAkl7KTYAAAAAElFTkSuQmCC);
    right: 10px;
}

#my-slider .ism-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#my-slider .ism-radios {
    display: block;
    height: 20px;
    text-align: center;
}

#my-slider .ism-radios label {
    width: 10px; height: 10px;
    border-radius: 5px;
    color: #000; background-color: rgba(0, 0, 0, 0.2); border: 2px solid rgba(255, 255, 255, 0.7);
}

#my-slider .ism-radios li.active label {
    background-color: #000;
}

#my-slider .ism-radios label:hover {
    border: 2px solid rgba(255, 255, 255, 1.0);
}


/* SLIDES */

#my-slider .ism-slide-0 .ism-img-frame {
    height: 100%;
}

#my-slider .ism-slide-0 .ism-img {
    height: auto;
    left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

#my-slider .ism-slide-1 .ism-img-frame {
    height: 100%;
}

#my-slider .ism-slide-1 .ism-img {
    height: auto;
    left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

#my-slider .ism-slide-2 .ism-img-frame {
    height: 100%;
}

#my-slider .ism-slide-2 .ism-img {
    height: auto;
    left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

#my-slider .ism-slide-3 .ism-img-frame {
    height: 100%;
}

#my-slider .ism-slide-3 .ism-img {
    height: auto;
    left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

/* CAPTIONS */

#my-slider .ism-slide-0 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-3 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-0 {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
		bottom: 10%;
    left: 20%;
		right: 20%;
    color: #000;
}

#my-slider .ism-slide-1 .ism-caption-0 {
		font-size: 20px;
		font-family: 'Source Sans Pro', sans-serif;
		position: absolute;
		bottom: 10%;
		left: 20%;
		right: 20%;
		color: #000;
}

#my-slider .ism-slide-2 .ism-caption-0 {
		font-size: 20px;
		font-family: 'Source Sans Pro', sans-serif;
		position: absolute;
		bottom: 10%;
		left: 20%;
		right: 20%;
		color: #000;
}

#my-slider .ism-slide-3 .ism-caption-0 {
		font-size: 20px;
		font-family: 'Source Sans Pro', sans-serif;
		position: absolute;
		bottom: 10%;
		left: 20%;
		right: 20%;
		color: #000;
}
