@CHARSET "UTF-8";

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

body a {
	text-decoration: none;
	color: #f26522;
}

h1 {
	font-size: 40px;
}

h1 a {
	color: black;
}

.app img {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.app img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
		transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#overlay {
	position: relative;
	margin-top: 100px;
	margin-right: 50px;
	float: right;
}

#header {
	height: 140px;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
}

#header h1 {
	margin-left: 10px;
}

#content {
	margin-top: 150px;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

#content p {
	line-height: 30px;
}

#bigtext {
	font-family: 'Bree Serif', serif;
	font-size: 35px;
}

#bigtext .links a {
	text-decoration: none;
}

table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}

th, td {
    padding: 5px;
}

input {
	font-family: inherit;
}

textarea {
	font-family: inherit;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #12B2B1;
    color: #444;
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
